/*
!/language/en-GB/*
!/language/ru-RU/*
!/language/uk-UA/*

!/package/*

!/sql/*
!/sql/updates/*

!/payment_concordpay/*
!/payment_concordpay/tmpl/*

!ConcordPayApi.php
!index.html
!payment_concordpay.php
!payment_concordpay.xml
!README.md
!update.xml